.custom-card {
  margin-top: 4px !important;  
  margin-left: 0px !important;
  margin-right: 0px !important;
  
  }
  .custom-card-content {
    padding: 2px!important;
  }
  .row-align-center {
    align-items: center !important; 
  }
  .column-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .responsive-image {
    width: 100%;
    max-width: 100px;
  }
  .large-text {
    font-size: 1.8rem !important;;
  }