<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Clientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Clientes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="mb-3">
      <ion-button expand="block" (click)="openModalCrearCliente()">Crear Cliente</ion-button>
    </div>
    <ion-searchbar [debounce]="200" (ionInput)="handleInput($event)" show-clear-button="always" placeholder="Buscar nombre"></ion-searchbar>
      <ion-modal></ion-modal>
      <ng-container  *ngFor="let result of results">
        <app-card-cliente
          [nombre]="result.nombre"
          (click)="goToDetails(result)">
        </app-card-cliente>
      </ng-container>
  </ion-content>

</ion-content>
