<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Crear Mesa</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirmar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <!-- Número de Mesa -->
  <ion-item>
    <ion-label>Mesa: </ion-label>
    <ion-picker
      [value]="selectedMesa"
      (ionChange)="onIonChange($event)"
      text="Seleccionar">
      <ion-picker-column >
        <ion-picker-column-option value="1">1</ion-picker-column-option>
        <ion-picker-column-option value="2">2</ion-picker-column-option>
        <ion-picker-column-option value="3">3</ion-picker-column-option>
        <ion-picker-column-option value="4">4</ion-picker-column-option>
        <ion-picker-column-option value="5">5</ion-picker-column-option>
        <ion-picker-column-option value="6">6</ion-picker-column-option>
        <ion-picker-column-option value="7">7</ion-picker-column-option>
        <ion-picker-column-option value="8">8</ion-picker-column-option>
        <ion-picker-column-option value="9">9</ion-picker-column-option>
        <ion-picker-column-option value="10">10</ion-picker-column-option>
        <ion-picker-column-option value="11">11</ion-picker-column-option>
        <ion-picker-column-option value="12">12</ion-picker-column-option>
      </ion-picker-column>
    </ion-picker>
  </ion-item>
  <!-- Hora -->
  <ion-item>
    <ion-label>Hora:  </ion-label>
    <ion-datetime display-format="HH:mm" picker-format="HH:mm" presentation="time" [value]="selectedTime"
    (ionChange)="onIonChange2($event)" [style.width]="'100%'"></ion-datetime>
  </ion-item>

  <!-- Precio -->
  <ion-item>
    <ion-label>Valor:  </ion-label>
    <ion-picker [value]="selectedTime"
    (ionChange)="onIonChange3($event)"   text="Seleccionar">
      <ion-picker-column>
        <ion-picker-column-option value=75>75</ion-picker-column-option>
        <ion-picker-column-option value=80>80</ion-picker-column-option>
        <ion-picker-column-option value=85>85</ion-picker-column-option>
        <ion-picker-column-option value=90>90</ion-picker-column-option>
        <ion-picker-column-option value=92>92</ion-picker-column-option>
        <ion-picker-column-option value=97>97</ion-picker-column-option>
        <ion-picker-column-option value=100>100</ion-picker-column-option>
        <ion-picker-column-option value=110>110</ion-picker-column-option>
        <ion-picker-column-option value=113>113</ion-picker-column-option>
        <ion-picker-column-option value=120>120</ion-picker-column-option>
        <ion-picker-column-option value=125>125</ion-picker-column-option>
        <ion-picker-column-option value=130>130</ion-picker-column-option>
        <ion-picker-column-option value=135>135</ion-picker-column-option>
      </ion-picker-column>
    </ion-picker>
  </ion-item>
</ion-content>

