<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mesas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mesas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
      <ion-button expand="block" (click)="openModalCrearMesa()">Crear Mesas!</ion-button>
      <ion-modal></ion-modal>
      <ng-container *ngFor="let mesa of mesas()">
        <app-card-mesa
          [imagen]="'assets/poolball' + mesa.numero.toString() + '.png'"
          [inicio]="mesa.inicio"
          [precio]="mesa.precio.toString()"
          (click)="goToDetails(mesa)">
        </app-card-mesa>
      </ng-container>
  </ion-content>
</ion-content>
